
/*
------------------------------------------------------
Colors

1. Grays
2. Brand
3. text
4. Info
------------------------------------------------------
*/


/* 1. Grays
----------------------------------------------------*/

$gray-darker  = #111
$gray-dark    = #333
$gray         = #666
$gray-light   = #aaa
$gray-lighter = #ddd
$gray-white   = #f0f0f0

/* 2. Brand
----------------------------------------------------*/

$primary-color   = #00bbff


/* 3. Text
----------------------------------------------------*/

$text-dark   = black


/* 4. Info
----------------------------------------------------*/

$success   = green
$info      = blue
$warning   = yellow
$danger    = red
