
/*
------------------------------------------------------
Typography

1. Font Family
------------------------------------------------------
*/

/* 1. Font Family
----------------------------------------------------*/

$font-main = 'Raleway', sans-serif
