
/*
------------------------------------------------------
Variables

1. Spaces
2. Breakpoints
3. Container holder
4. Typography
5. Z-index
------------------------------------------------------
*/

/* 1. Spaces
----------------------------------------------------*/

$space = 20px
$gutter  = $space
$margin  = $space
$padding  = $space


/* 2. Breakpoints
----------------------------------------------------*/

$max-mobile  	= 767px
$min-tablet   = $max-mobile + 1
$max-tablet   = 1023px
$min-desktop  = $max-tablet + 1
$min-wide 		= 1900px

/* 3. Container holder
----------------------------------------------------*/

$holder-default = 1024px

/* 4. Typography
----------------------------------------------------*/

$text-size = 16px

/* 5. Z-index
----------------------------------------------------*/

$z-noclick  = -1
$z-default  = 1
$z-loading  = 10
