
/*
------------------------------------------------------
Buttons
------------------------------------------------------
*/

/* 1. Usage
----------------------------------------------------
```
<button class="btn">Click</button>
<a class="btn" href="/some-page">Some Page</a>
```
*/
