
/*
------------------------------------------------------
Forms

1. Input
2. Select
3. Label
4. Legend
------------------------------------------------------
*/

/* 1. Input
----------------------------------------------------
```
<input class="form-control" placeholder="Input example">
```
*/

/* 2. Select
----------------------------------------------------
```
<select class="form-control">
  <option>Select example</option>
</select>
```
*/

/* 3. Label
----------------------------------------------------
```
<label>Label example</label>
```
*/

/* 4. Legend
----------------------------------------------------
```example:html
<legend>Legend example</legend>
```
*/
