/*
------------------------------------------------------
General
------------------------------------------------------
*/


body
	color $dark-text
  font-family $main-font
  font-size $text-size
  margin 0
	overflow-x hidden
	padding 0

